<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Squeeze Now</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <meta name="google-site-verification" content="OiT1vtRF0FHCIHTQs4V63t674XM4XgpSSI7uEiMuwc4" />
</head>
<body class="body-light">
<span class="icon">
    <a href="https://documenter.getpostman.com/view/11755556/TVCZYVt1" class="api">API Documentation</a>
<a href="https://github.com/techie448/url-shortener" class="github"></a>
</span>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 130" class="lamp">
    <!-- bulb -->
    <g>
        <circle class="bulb" style="" cx="30" cy="109.3" r="10.7"/>
        <line style="fill:none;stroke:#D7D5AF;stroke-width:0.263;stroke-linecap:round;stroke-miterlimit:10;" x1="28.1" y1="108.1" x2="27.4" y2="113.4"/>
        <line style="fill:none;stroke:#D7D5AF;stroke-width:0.263;stroke-linecap:round;stroke-miterlimit:10;" x1="32" y1="108.1" x2="32.6" y2="113.4"/>
        <polyline style="fill:none;stroke:#D7D5AF;stroke-width:0.263;stroke-linecap:round;stroke-miterlimit:10;" points="27.8,113.5 28.3,112.8 28.8,113.5 29.6,112.8 30,113.5 30.7,112.9 31.2,113.5 31.8,112.8 32.3,113.5"/>
    </g>
    <!-- /bulb -->
    <rect x="20.7" y="66.7" style="fill:#6c554d;" width="18.6" height="15.6"/>
    <rect x="28.5" y="0" style="fill:#6c554d;" width="3" height="66.7"/>
    <path style="fill:#6c554d;" d="M30,80.3c-16.6,0-30,13.4-30,30h60C60,93.8,46.6,80.3,30,80.3z"/>
    <path style="fill:#6c554d;" d="M30,80.3c-16.6,0-30,13.4-30,30h60C60,93.8,46.6,80.3,30,80.3z"/>
    <!--
      <g class="switch">
        <line style="fill:none;stroke:#2D2D2F;stroke-width:0.5;stroke-miterlimit:10;" x1="49" y1="100" x2="49" y2="118"/>
        <circle style="fill:none;stroke:#2D2D2F;stroke-width:0.5;stroke-miterlimit:10;" cx="49" cy="120" r="1.6"/>
      </g>
    -->
</svg>
<header>
    <h1>Easy Shorten Now</h1>
	<h2>URL Shortener</h2>
</header>
<main id="app">
<form @submit.prevent="squeezeNow()">
		<input type="url" placeholder="Paste long link and shorten it" v-model="url" name="url" id="url" required autofocus>
			<input type="text" placeholder="Short Name" id="squeeze" v-model="squeeze" name="squeeze">
			<input type="submit" value="SHORTEN NOW!" id="submit">
	</form>
    <div id="result">
        <template v-if="loading"> <div class="loader">
            <p>LOADING</p>
            <span></span>
            <span></span>
            <span></span>
        </div></template>
        <template v-else>
        <p v-if="result">URL Shortened to : <a :href="result">{{result}}</a> 🎊</p>
        <p v-else class="error">{{error}}</p>
        </template>
    </div>
</main>
<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
<script src="main.js"></script>
</body>
</html>
