*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier, monospace;

}
body {
    background-color: #6c554d;
    margin: 0;
    text-align: center;
    animation: body 3s forwards;
}
.lamp {
    width: 10em;
    display: inline-block;
    transform-origin: top center;
    transform: rotate(45deg);
    animation: lamp 3s forwards;
}
.bulb {
    fill: #fbf8ca;
    fill-opacity: 0.1;
    animation: bulb 0.3s 0.3s 5 cubic-bezier(0.26, 1.17, 0.89, -0.74) alternate forwards;
}
.switch {
    transition: transform 0.3s;
}
.switch:active {
    transform: translateY(5rem);
}
@keyframes bulb {
    to {
        fill-opacity: 1;
        fill: #fbf8ca;
    }
}

@keyframes body {
    to {
        background-color: #ebd8c4;
    }

}
@keyframes lamp {
    5% {
        transform: rotate(-45deg);
    }
    10% {
        transform: rotate(35deg);
    }
    15% {
        transform: rotate(-35deg);
    }
    25% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    65% {
        transform: rotate(3deg);
    }
    85% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

form {
    width: 80vw;
    max-width: 60rem;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    justify-items: stretch;
    padding-top: 5rem;

}
h1,#result{
    padding-top: 2rem;
}


h2{
    color: #6c554d;
    font-size: 1.3rem;
    padding-top: 1rem;
}


input {
    margin: 0;
    font-size: 1.2rem;
    padding: 1.2rem;
    border-right: 0;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

input::placeholder{
    color:white;
    opacity:0.7;
}
#squeeze::placeholder{
    color:#76574f;
    opacity:0.7;
}
input:focus {outline:none;}


#url{
    background-color: #6dc7c7;
    border: 0.2rem solid #389595;
    border-right: 0;

}

#squeeze {
    background-color: #ffce5a;
    border: 0.2rem solid #c99d28;
    color: #76574f;
    border-left: 0;
    border-right: 0;
}

#submit{
    background-color: #fe7a64;
    border: 0;
}
#submit:hover{
    cursor: pointer;
}
h1,h2{
    cursor: default;
}

.icon{
    background: url("/github.png");
    background-size: cover;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
    float: right;
}

a {
    color: inherit;
}

.loader p {
    margin: 1rem;
}

.loader span{
    width:16px;
    height:16px;
    border-radius:50%;
    display:inline-block;
    position:absolute;
    left:50%;
    margin-left:-10px;
    -webkit-animation:3s infinite linear;
    -moz-animation:3s infinite linear;
    -o-animation:3s infinite linear;

}


.loader span:nth-child(2){
    background:#E84C3D;
    -webkit-animation:kiri 1.2s infinite linear;
    -moz-animation:kiri 1.2s infinite linear;
    -o-animation:kiri 1.2s infinite linear;

}
.loader span:nth-child(3){
    background:#F1C40F;
    z-index:100;
}
.loader span:nth-child(4){
    background:#2FCC71;
    -webkit-animation:kanan 1.2s infinite linear;
    -moz-animation:kanan 1.2s infinite linear;
    -o-animation:kanan 1.2s infinite linear;
}


@-webkit-keyframes kanan {
    0% {-webkit-transform:translateX(20px);
    }

    50%{-webkit-transform:translateX(-20px);
    }

    100%{-webkit-transform:translateX(20px);
        z-index:200;
    }
}
@-moz-keyframes kanan {
    0% {-moz-transform:translateX(20px);
    }

    50%{-moz-transform:translateX(-20px);
    }

    100%{-moz-transform:translateX(20px);
        z-index:200;
    }
}
@-o-keyframes kanan {
    0% {-o-transform:translateX(20px);
    }

    50%{-o-transform:translateX(-20px);
    }

    100%{-o-transform:translateX(20px);
        z-index:200;
    }
}




@-webkit-keyframes kiri {
    0% {-webkit-transform:translateX(-20px);
        z-index:200;
    }
    50%{-webkit-transform:translateX(20px);
    }
    100%{-webkit-transform:translateX(-20px);
    }
}

@-moz-keyframes kiri {
    0% {-moz-transform:translateX(-20px);
        z-index:200;
    }
    50%{-moz-transform:translateX(20px);
    }
    100%{-moz-transform:translateX(-20px);
    }
}
@-o-keyframes kiri {
    0% {-o-transform:translateX(-20px);
        z-index:200;
    }
    50%{-o-transform:translateX(20px);
    }
    100%{-o-transform:translateX(-20px);
    }
}


@media only screen and (max-width: 768px) {
    form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #url{
        border: 0.2rem solid #389595;
border-bottom: 0;
    }

    #squeeze{
        border: 0.2rem solid #c99d28;
border-top: 0;
        border-bottom: 0;
    }
    #result{
        padding-bottom: 20rem;
    }
}
